.env
.env.*
vendor
node_modules
tests
.git
.github
.phpunit.cache
.phpunit.result.cache
database/database.sqlite
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
